{{#each applicants as |applicant| }}
<div class="row mb-4 applicant">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->

      <a target ="_blank" href="/document/{{applicant.resume}}">{{applicant.applicant}}</a>
    </h2>
   
    <p>Created by {{applicant.user.name}} on {{format_date applicant.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{applicant.description}}
    </p>
  </div>
</div>
{{/each}}
